pipeline/loop_lookup_filter_foreach_copy.json
{
	"name": "loop_lookup_filter_foreach_copy",
	"properties": {
		"activities": [
			{
				"name": "Lookup Controler",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generic_delimited_text_2",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "controller",
							"fileName": "controller_tables.csv",
							"separatorFile": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Controler",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Controler').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_table,'1' )",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "pipelines"
		},
		"annotations": []
	}
}