pipeline/loop_get_filter_foreach_copy.json
{
	"name": "loop_get_filter_foreach_copy",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generic_delimited_text",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "transient",
							"directoryName": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"fileName": "@toLower('')",
							"separatorFile": "@toLower('')"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter TXT",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name,'.txt' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter TXT').output",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "pipelines"
		},
		"annotations": []
	}
}