pipeline/loop_lookup_filter_foreach_copy.json
{
	"name": "loop_lookup_filter_foreach_copy",
	"properties": {
		"activities": [
			{
				"name": "Lookup Controler",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generic_delimited_text_2",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "controller",
							"fileName": "controller_tables.csv",
							"separatorFile": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Controler",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Controler').output.Value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().load_table,'1' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sql_db_local_to_lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generic_sqlserver_db",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().schema_source",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().table_source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generic_parquet",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "@item().container_target",
										"fileName": "@concat(item().file_target,'.parquet')"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipelines"
		},
		"annotations": []
	}
}